.film-overview {
  h1 {
    margin-bottom: 3rem;
  }

  .loader-container {
    height: 50px;
  }

  .film-list {
    line-height: 300%;

    .character-list {

      .character-details {
        margin: 0 0 2rem 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;

        &.loading {
          opacity: .6;
        }

        .key-value-pair {
          width: 200px;
          line-height: 200%;
          margin-bottom: 1rem;
          font-size: .8rem;
          .value {
            	font-weight: 300;
          }
        }
      }
    }
  }
}
