.navbar {
  display: flex;
  margin-bottom: 4rem;
  gap: 1rem;

  .link {
    cursor: pointer;
    padding: .5rem 1rem;
    width: 8rem;
    text-align: center;

    &:hover,
    &:active,
    &.active {
      background-color: darkgray;
      color: white;
    }
  }
}
