#root {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Pathway Gothic One', sans-serif;
  // font-family: "Segoe UI";

  margin: 0 10vw;

  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
}