#root {
  height: 100%;
  margin: 0 10vw;
  padding: 0;

  box-sizing: border-box;

  font-family: "Pathway Gothic One", sans-serif;

  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
}
