.paginator {
  display: flex;
  gap: 1rem;

  button {
    border-style: none;
    width: 2rem;
    background: none;

    &:hover,
    &:active {
      outline: 1px solid darkgray;
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        outline: none;
      }
    }
  }
}
